.carsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .carContainer {
    margin-bottom: 20px;
    background-color: #e8d9bf;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .carImage {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .carInfo {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .carName {
    font-weight: bold;
    color: #033472;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .carPrice {
    font-weight: bold;
    color: #033472;
    font-size: 16px;
  }
  
  .licensePlate {
    color: #666;
    font-size: 14px;
  }
  
  .pendingContainer {
    padding: 0 15px 10px;
  }

  .pendingBadge {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    color:#000000;
  }
  
  .requestsTitle {
    padding: 10px 15px;
    color: #033472;
    font-size: 14px;
    font-weight: bold;
  }
  
  .requestItem {
    padding: 10px 15px;
    background-color: white;
    margin: 0 15px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .requesterInfo {
    font-size: 14px;
  }
  
  .requesterName {
    font-weight: bold;
    color: #333;
  }
  
  .requestDate {
    color: #666;
    font-size: 12px;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
  }
  
  .btnReject {
    background-color: #033472;
    color: white;
  }
  
  .btnAccept {
    background-color: #ff9800;
    color: white;
  }